.my-order {
  min-width: 320px;
  width: 60%;
  margin: 0 auto;
  padding: 16px;
  
  &__title {
    margin-bottom: 40px;
    font-size: $md;
    font-weight: 700;
  }

  &__info {
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr ;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    background-color: $color-text-input-field;
  }
  &__detail {
    display: flex;
    flex-direction: column;
    font-size: $md;
    font-weight: 700;

    & span {
      font-size: $sm;
      font-weight: 300;
    }
  }
  &__price {
    // font-family: roboto;
    font-size: $md;
    font-weight: 700;
    text-align: end;
  }

}

.shop-cart {
  width: 100%;
  height: auto;
  
  &__item {
    width: 100%;
    margin: 16px 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 16px;
  }
  &__img {
    width: 76px;
    height: 76px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
  }
  &__product {
    font-size: $sm;
    font-weight: 400;
  }

  &__price {
    // font-family: roboto;
    font-size: $md;
    font-weight: 700;
    padding-right: 16px;
  }
}