.new-pass {
  width: 400px;
  // min-width: 320px;
  display: grid;
  grid-template-rows: auto 1fr auto;

  &__form {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}

.button--new-pass {
  margin-top: 12px;
}
