extends ./components/templates.pug

block content
  .main-container.main-container--index
    a(href="email-sent.html") email-sent
    a(href="login.html") login
    a(href="new-pass.html") new pass
    a(href="account.html") account
    a(href="my-account.html") my account
