extends ./components/templates.pug

block content
  section.main-container.main-container--index
    main.cards-container
      //- Contenido sin mixin
      article.product-card
        img.product-card__img(src="", alt="Product image")
        .product-card__detail 
          p.product-card__price $120,20
          p.product-card__product-name Bicicleta
        figure.product-card__icon 
          img(src="assets/icons/bt_add_to_cart.svg", alt="Add to cart")

      //- Mixin
      +product-card('image.jpg','$ 111,22','Otra bicicleta')
